@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&family=Poppins:wght@300&family=Sansita+Swashed:wght@300&display=swap');

body{
  background-color: #FFF5EE;
  font-family: 'Poppins', sans-serif;
}
#title{
  position:relative;
  top:15px;
  bottom: 50px;
  text-align: center;
  color:black;
}
.cot{
  position:relative;
  text-align:center;
  font-family:'Sansita Swashed', cursive;
  font-size:25px;
  font-weight:10px:
  opacity:0.5;
}
#img-div {
  background-color:#F2F3F4;
  padding:2%;
  margin-left:50px;
  margin-right:50px;
  border-radius:30px;
}
#img-caption{
  display: relative;
  margin-left:20%;
  font-size: 12px;

}
#image{
  display: block;
  margin: auto;
  margin-top:2%;
  max-width: 100%;
  border-radius:20px;
  border-color:#BCCAC9;
  border-widht:0.4px;
  border-style:solid;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.para{
  margin-left: 20%;
  margin-right: 20%;
  line-hieght:25px;

}
#footer {
  font-size:20px;
  font-weight:10px;
  text-align:center;
}
